@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    scroll-behavior: smooth;
}
body {
    background-color: var(--bg-color);
    font-family: "Poppins", sans-serif;
    color: var(--txt-color);
}

::selection {
    background-color: white;
    color: black;
}

.container {
    width: 80%;
    margin: auto;
    max-width: 1140px;
}

h3 {
    font-size: 43px;
}

h2,
h3,
h4 {
    color: white;
}

i {
    color: white;
    font-size: 25px;
    cursor: pointer;
}

main{
    width: 90%;
    max-width: 1120px;
    margin: auto;
}

/* --- HEADER ---*/

header {
    width: 90%;
    max-width: 1120px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 50px 120px;

    .links {
        ul {
            display: flex;
            gap: 35px;

            li {
                padding: 10px 20px;
                border: 1px solid var(--txt-color);
                border-radius: 10px;
                transition: 0.5s;
            }

            li:hover {
                background-color: var(--main-color);
                border: 1px solid var(--main-color);
                color: black;
                transition: 0.5s;
            }
        }
    }

    .menu-icon {
        display: none;
    }
}

/* --- INTRO --- */
#intro {
    /* align-items: center; */
    display: grid;
    /* display: flex; */
    grid-template-columns: 1fr 0.2fr 1fr;

    .name {
        color: white;
    }

    h1 {
        color: var(--main-color);
        margin-block: 10px;
    }

    button {
        padding: 10px 12px;
        border: 1px solid var(--main-color);
        background-color: var(--main-color);
        border-radius: 10px;
        margin-top: 50px;
        cursor: pointer;
        transition: 0.5s;
        font-size: 18px;

    }

    button:hover {
        background-color: transparent;
        color: white;
        transition: 0.5s;
    }

    .intro-img {
        grid-column: 3;
    }
}

/* --- ABOUT --- */

#about {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    .green-box img {
        height: 100vh;
    }

    .about-img {
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .green-box {
        width: 50%;
        height: 90%;
        z-index: -1;
        background-color: var(--main-color);
        position: absolute;
        top: -20px;
        left: -20px;
    }

    .about-me {
        grid-column: 3;
    }



    .sub-h2 {
        font-size: 12px;
        /* position: relative; */
        color: var(--main-color);
    }

    .about {
        margin-block: 20px 40px;
    }

    .skills {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 65px;
    }

    button {
        border: 2px solid var(--main-color);
        color: var(--main-color);
        background-color: transparent;
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
    }

    button:hover {
        background-color: #55e5a421;
    }
}

/* --- PROJECTS --- */

#projects {
    text-align: center;

    p {
        font-size: 15px;
    }

    .project-img img:nth-child(1) {
        width: 100%;
    }



    .about-project {
        margin-block: 20px;
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
    }

    .project-box {
        width: 50%;
        padding: 50px;
    }

    .project {
        background-color: #26313F;
        border-radius: 10px;
        padding-bottom: 25px;
    }

    .used-tech {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-block: 25px;

        img {
            width: 25px;
        }
    }

    .view-btn {
        border: 1px solid var(--main-color);
        background-color: var(--main-color);
        padding: 10px;
        margin-top: 30px;
        transition: 0.5s;
    }

    .view-btn:hover {
        border: 1px solid var(--main-color);
        background-color: transparent;
        color: var(--main-color);
        transition: 0.5s;
    }

    .visit-btn {
        color: white;
        border: 1px solid white;
        padding: 10px 16px;
        transition: 0.5s;
    }

    .visit-btn:hover {
        transition: 0.5s;
        background-color: var(--bg-color);
    }

}

/* --- CONTACT --- */
#contact {
    text-align: center;
    p:nth-child(1) {
        font-weight: 600;
    }
    h3 {
        margin-block: 20px;
    }

    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contact-img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("./assets/images/Rectangle\ 12.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 760px;

        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #26313F;
            opacity: 88%;
        }

        h2 {
            position: absolute;
            font-size: 56px;
            margin-inline: 25px;

            .green-txt {
                color: var(--main-color);
            }
        }
    }

    form {
        display: flex;
        align-items: start;
        flex-direction: column;
        background-color: #EEEEEE;
        border-radius: 0px 15px 15px 0px;
        padding: 50px 45px;
        position: relative;
        color: black;

        .filter {
            margin-block: 25px;
            display: grid;
            grid-column: 0.25fr 0.25fr 0.25fr 0.25fr 1fr;
            gap: 20px;
        }

        .category-btn:nth-child(1) {
            grid-column: 1 / 5;
        }

        .category-btn:nth-child(2) {
            grid-column: 5;
        }

        .category-btn {
            padding: 16px 60px;
            color: var(--txt-color);
            border: 1px solid var(--txt-color);
            border-radius: 10px;
            font-size: 20px;
        }

        .category-btn:nth-child(3) {
            padding: 16px;
            grid-column: 0.5fr;
        }

        .category-btn:active {
            background-color: var(--main-color);
            color: black;
        }

        .inputs {
            width: 100%;
        }

        input {
            width: 100%;
            font-size: 20px;
            border-bottom: 1px solid var(--txt-color);
        }

        input::placeholder {
            transition: 0.5s;
        }

        input:focus::placeholder {
            transition: 0.5s;
            padding: 5px;
            color: black;
        }

        input:focus {
            color: black;
            border-bottom: 2px solid black;
        }
    }

    .send-btn {
        background-color: var(--main-color);
        padding: 25px 50px;
        font-size: 20px;
        border-radius: 20px;
        margin-top: 30px;
        bottom: 50px;

        i {
            color: black;
            margin-right: 10px;
        }
    }
}

/* --- FOOTER --- */
footer {
    margin-block-start: 70px;
    background-color: #26313F;

    .items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        gap: 40px;
    }

    .links {
        display: flex;
        gap: 56px;
    }

    .social-links {
        display: flex;
        gap: 40px;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            color: #343236;
            border-radius: 12px;
            background-color: #343236;
            border-top: 2px solid;
            box-shadow: 0px -5px 5px -2px var(--main-color), 0px 10px 50px -1px black;

        }

        li:hover {
            position: relative;
            bottom: 5px;
        }
    }

    hr {
        width: 100%;
        border: 1px solid var(--txt-color);
        margin-block: 60px 40px;
    }

    p {
        text-align: center;
        padding-bottom: 30px;
    }
}

/* --- MEDIA --- */
@media screen and (max-width: 1120px) {
    #contact {
        .contact-img {
            display: none;
        }
        form {            
            grid-column: 1 / 3;
            border-radius: 15px 15px 15px 15px;

        }
    }
}

@media screen and (max-width:900px) {
    
    main{
        width: 90%;
        margin: auto;
    }
    header {
        margin-inline: 5px;
        .links,
        .theme-icon {
            display: none;
        }

        .menu-icon {
            display: block;
        }
    }

    #intro {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        .intro-img {
            img {
                width: 90%;
            }
        }
    }
    #about {
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
        .about-img {
            img {
                width: 50%;
            }
        }
    }
    .projects {
        gap: 20px;
    }
    .project-box {
        width: 100% !important;
        padding: 0px !important;
    }
    #contact {
        width: 100%;
        .contact-img {
            display: none;
        }
        form {
            grid-column: 1 / 4;
            border-radius: 0px;
            .category-btn {
                padding: 10px;
            }
            
        }
    }
}